/* Yes, this CSS is very hack-n-slash - I promise to make it better when
		I finish the design ;)
*/

.hero-unit h1 {
	margin: -20px 0 10px 0;
	color: #333;
}
.hero-unit p {
	width: 517px;
}
.sponsor {
	margin-top: 20px;
	color: #888;
}
.row h2 img, .rocket-point {margin:7px 7px -7px 0;opacity:.7;}

.navbar form {
	margin:0;
	float:right;
}
.navbar input[type=text], .navbar input[type=password] {
background-color: #444;
background-color: rgba(255, 255, 255, 0.3);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
padding: 1px 9px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
border-radius: 4px;
margin-top: 6px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
}

.btn, input.btn {
	-moz-border-radius: 3px;
	display: inline-block;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -2px 0 #b7245a;
	box-shadow: inset 0 -2px 0 #b7245a;
	background: -webkit-gradient(linear, 0% 0%, 0% 56%, from(#e74425), to(#e62e25), color-stop(.9,#f63329));
	color: #fff;
	font-family: arial,helvetica,sans-serif;
	font-size: 17px;
	font-weight: bold;
	padding: 7px 20px;
	margin: 0 !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn:hover, input.btn:hover {
	text-decoration:none;
	cursor: pointer;
	color:#efefef;
	background: -moz-linear-gradient(0% 50% 90deg,#e74425, #e62e25, #f63329 15%);
	background: -webkit-gradient(linear, 0% 0%, 0% 56%, from(#e74425), to(#e62e25), color-stop(.9,#f63329));
}
.btn:active, input.btn:active {
	text-decoration:none;
	cursor: pointer;
	box-shadow: inset 0 0 20px rgba(0,0,0,.2), inset 0 -2px 0 #b7245a;
}

.navbar input[type=submit] {
	font-size: 13px;
	padding: 5px 20px;
	background: -webkit-gradient(linear, 0% 0%, 0% 56%, from(#eee), to(#ddd), color-stop(.6,#eee));
	color: #777;
	box-shadow: inset 0 -2px 0 #ccc;
	text-shadow: none;
	font-weight: normal;
}
.navbar input[type=submit]:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 56%, from(#ddd), to(#ccc), color-stop(.6,#ddd));
	color: #555;
	box-shadow: inset 0 -2px 0 #aaa;
}
.navbar input[type=submit]:active {
	box-shadow: inset 0 -2px 0 #aaa, inset 0 0 20px #aaa;
}

#reqform {height:70px;padding-top:25px;}
#regform{height:350px;padding-top:25px;}

.api-label {
	font-size:13px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	opacity:.7;
	-webkit-box-shadow: inset 0 0 1px rgba(10,10,10,.2);
	   -moz-box-shadow: inset 0 0 1px rgba(10,10,10,.2);
	        box-shadow: inset 0 0 1px rgba(10,10,10,.2);
	font-weight: normal !important;
	padding: 5px 10px;
	margin-top: 10px !important;
	color: #fff;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.api-label:hover {
	color: #fff;
	text-decoration: none;
}

.team {
	margin: 10px 0;
	width: 850px;
}